[Reference](https://medium.com/@Piotr_Szymanski/decile-analysis-of-returns-of-nasdaq-100-companies-in-python-ce23f7f7d6be)

# Decile Analysis Explanation

In [5]:
import random
import numpy as np
import pandas as pd

numbers = random.sample(range(1, 50), 30)
print(numbers)

[2, 1, 36, 5, 47, 37, 40, 39, 3, 41, 18, 34, 32, 13, 48, 10, 8, 35, 23, 38, 6, 45, 31, 20, 49, 26, 29, 44, 46, 42]

In [6]:
df = pd.DataFrame(numbers, columns = ['Numbers'])
df.head(10)

   Numbers
0        2
1        1
2       36
3        5
4       47
5       37
6       40
7       39
8        3
9       41

In [7]:
df['Decile'] = pd.qcut(df['Numbers'], 10, labels=False)

In [8]:
df.groupby('Decile').describe().T

Decile           0         1          2     3          4     5     6     7  \
Numbers count  3.0  3.000000   3.000000   3.0   3.000000   3.0   3.0   3.0
        mean   2.0  6.333333  13.666667  23.0  30.666667  35.0  38.0  41.0
        std    1.0  1.527525   4.041452   3.0   1.527525   1.0   1.0   1.0
        min    1.0  5.000000  10.000000  20.0  29.000000  34.0  37.0  40.0
        25%    1.5  5.500000  11.500000  21.5  30.000000  34.5  37.5  40.5
        50%    2.0  6.000000  13.000000  23.0  31.000000  35.0  38.0  41.0
        75%    2.5  7.000000  15.500000  24.5  31.500000  35.5  38.5  41.5
        max    3.0  8.000000  18.000000  26.0  32.000000  36.0  39.0  42.0

Decile            8     9
Numbers count   3.0   3.0
        mean   45.0  48.0
        std     1.0   1.0
        min    44.0  47.0
        25%    44.5  47.5
        50%    45.0  48.0
        75%    45.5  48.5
        max    46.0  49.0

In [10]:
companies=pd.read_html('https://en.wikipedia.org/wiki/Nasdaq-100')
table  = companies[4]
df = table
tickers_list = df['Ticker'].to_list()
#first 10 symbols
print(tickers_list[:10])
print(len(tickers_list))

['ATVI', 'ADBE', 'ADP', 'ABNB', 'ALGN', 'GOOGL', 'GOOG', 'AMZN', 'AMD', 'AEP']
101

In [11]:
!pip install yfinance
import yfinance as yf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.3-py2.py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.4/50.4 KB 5.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 9.9 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.2/128.2 KB 13.2 MB/s eta 0:00:00
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.1 MB/s eta 0:00:00
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.0/111.0 KB 13.2 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (4.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 54.9 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-39.0.0 frozendict-2.3.4 html5lib-1.1 requests-2.28.1 soupsieve-2.3.2.post1 yfinance-0.2.3

In [12]:
data = yf.download(tickers_list, start = '2022-01-01', end = '2022-10-25', threads=True)['Close']
data.head()

[*********************100%***********************]  101 of 101 completed

,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,...,TSLA,TXN,VRSK,VRTX,WBA,WBD,WDAY,XEL,ZM,ZS
Date,,,,,,,,,,,,,,,,,,,,,
2022-01-03,182.009995,172.679993,564.369995,177.149994,244.009995,283.720001,88.610001,648.049988,159.929993,150.240005,...,399.926666,190.600006,221.660004,222.529999,53.060001,25.330000,263.720001,67.940002,184.259995,301.829987
2022-01-04,179.699997,170.800003,554.000000,175.550003,245.149994,278.190002,88.650002,623.500000,158.360001,144.419998,...,383.196655,190.800003,221.729996,221.860001,53.480000,26.750000,253.059998,68.370003,179.850006,281.579987
2022-01-05,174.919998,162.250000,514.429993,172.839996,243.059998,264.320007,89.470001,578.840027,153.740005,136.149994,...,362.706665,186.820007,214.309998,221.419998,54.000000,26.450001,248.259995,69.040001,174.880005,262.329987
2022-01-06,172.000000,159.750000,514.119995,173.389999,241.389999,264.109985,89.180000,567.619995,156.339996,136.229996,...,354.899994,186.759995,212.669998,221.649994,52.439999,25.719999,250.630005,68.500000,176.330002,260.209991
2022-01-07,172.169998,166.050003,510.700012,168.839996,238.839996,262.320007,90.800003,546.989990,150.809998,132.000000,...,342.320007,179.440002,206.649994,221.850006,53.840000,30.059999,250.240005,69.099998,171.600006,261.529999

In [13]:
ytd_return = (data.iloc[-1] - data.iloc[0]) / data.iloc[0]
ytd_return = ytd_return.to_frame().rename(columns={0: 'Returns'})
ytd_return

       Returns
AAPL -0.178891
ABNB -0.325979
ADBE -0.439694
ADI  -0.184138
ADP  -0.029097
...        ...
WBD  -0.479668
WDAY -0.438988
XEL  -0.093612
ZM   -0.562520
ZS   -0.507438

[101 rows x 1 columns]

In [14]:
ytd_return[ytd_return['Returns'].isnull()]
ytd_return.dropna(axis=0, inplace=True)
ytd_return.isnull().sum()

Returns    0
dtype: int64

In [15]:
deciles = np.percentile(ytd_return['Returns'], np.arange(0, 100, 10))
deciles

array([-0.69489876, -0.5094119 , -0.45341506, -0.38766754, -0.31108981,
       -0.24438368, -0.18343799, -0.11029908, -0.05280789,  0.04796001])

In [16]:
ytd_return['Decile'] = pd.qcut(ytd_return['Returns'].rank(method='first'), 10, labels=False)
ytd_return.groupby('Decile').describe().T

Decile                 0          1          2          3          4  \
Returns count  10.000000  10.000000  10.000000  10.000000  10.000000
        mean   -0.609682  -0.479499  -0.425960  -0.348019  -0.280514
        std     0.057881   0.015976   0.019775   0.028323   0.019692
        min    -0.694899  -0.507438  -0.453353  -0.387466  -0.310640
        25%    -0.659561  -0.488025  -0.439517  -0.374543  -0.292335
        50%    -0.595506  -0.479581  -0.427518  -0.342322  -0.286183
        75%    -0.571191  -0.469614  -0.414697  -0.322731  -0.266450
        max    -0.527177  -0.453665  -0.388139  -0.311765  -0.245079

Decile                 5          6          7          8          9
Returns count  10.000000  10.000000  10.000000  10.000000  10.000000
        mean   -0.223975  -0.148340  -0.082713  -0.000187   0.204472
        std     0.019528   0.027024   0.019865   0.037838   0.129678
        min    -0.243688  -0.182388  -0.109595  -0.049325   0.055465
        25%    -0.238759  -0.173118  -0.095195  -0.029365   0.109365
        50%    -0.231147  -0.151626  -0.093926  -0.004963   0.164127
        75%    -0.211300  -0.123607  -0.067145   0.036799   0.332141
        max    -0.184138  -0.110601  -0.053679   0.047126   0.395317

In [19]:
ytd_return[ytd_return['Returns'] == ytd_return['Returns'].max()]
ytd_return[ytd_return['Returns'] == ytd_return['Returns'].min()]

       Returns  Decile
RIVN -0.694899       0

In [20]:
df2 = ytd_return.groupby('Decile')['Returns'].max().to_frame()
df2.rename(columns={'Returns':'Max'}, inplace=True)
df2['Min'] = ytd_return.groupby('Decile')['Returns'].min()
df2.head(10)

             Max       Min
Decile
0      -0.527177 -0.694899
1      -0.453665 -0.507438
2      -0.388139 -0.453353
3      -0.311765 -0.387466
4      -0.245079 -0.310640
5      -0.184138 -0.243688
6      -0.110601 -0.182388
7      -0.053679 -0.109595
8       0.047126 -0.049325
9       0.395317  0.055465

In [21]:
ytd_return.reset_index(inplace=True)
decile_list = [0,1,2,3,4,5,6,7,8,9]

for i in decile_list:
    print('Decile', i,': ', 'max/min value:', df2.iloc[i].values, ',', ytd_return[ytd_return['Decile']==i]['index'].to_list())

Decile 0 :  max/min value: [-0.52717744 -0.69489876] , ['ALGN', 'AMD', 'LCID', 'META', 'MRVL', 'NFLX', 'NVDA', 'PYPL', 'RIVN', 'ZM']
Decile 1 :  max/min value: [-0.45366504 -0.50743795] , ['AMAT', 'ANSS', 'CHTR', 'DDOG', 'INTC', 'JD', 'LRCX', 'TSLA', 'WBD', 'ZS']
Decile 2 :  max/min value: [-0.38813888 -0.45335257] , ['ADBE', 'ASML', 'EBAY', 'IDXX', 'ILMN', 'ISRG', 'MRNA', 'MU', 'TEAM', 'WDAY']
Decile 3 :  max/min value: [-0.31176508 -0.38746553] , ['ABNB', 'AVGO', 'CMCSA', 'CTSH', 'INTU', 'KLAC', 'MELI', 'NXPI', 'QCOM', 'WBA']
Decile 4 :  max/min value: [-0.24507904 -0.31063963] , ['ADSK', 'AMZN', 'BKNG', 'CSCO', 'FAST', 'GOOG', 'GOOGL', 'MCHP', 'MSFT', 'SBUX']
Decile 5 :  max/min value: [-0.18413772 -0.24368832] , ['ADI', 'CPRT', 'CRWD', 'CSX', 'DXCM', 'LULU', 'ODFL', 'PDD', 'ROST', 'VRSK']
Decile 6 :  max/min value: [-0.11060072 -0.18238839] , ['AAPL', 'CDNS', 'COST', 'FTNT', 'GFS', 'PANW', 'PAYX', 'SGEN', 'SNPS', 'TXN']
Decile 7 :  max/min value: [-0.05367863 -0.10959526] , ['AZN', 'CSGP', 'EA', 'EXC', 'FISV', 'HON', 'MAR', 'MDLZ', 'MNST', 'XEL']
Decile 8 :  max/min value: [ 0.04712611 -0.04932491] , ['ADP', 'AEP', 'BKR', 'CTAS', 'GILD', 'KDP', 'KHC', 'PCAR', 'PEP', 'SIRI']
Decile 9 :  max/min value: [0.39531749 0.05546506] , ['AMGN', 'ATVI', 'BIIB', 'DLTR', 'ENPH', 'FANG', 'ORLY', 'REGN', 'TMUS', 'VRTX']